body{
  user-select: none;
  background-color: rgb(220, 220, 220);
}
/* container */
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  margin-top: 5px;
  max-width: 1680px;
  width: 100%;
  height: 270px;
  position: relative;
}

.dotclass{
  height: 2px;
  z-index: 1111;
  margin-top: 5px;
  user-select: none;
}
/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(170, 170, 170);
  display: inline-block;
  margin-bottom: 50px;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.activedot {
  background-color: #000000;
}

.slideshowimg{
  width:100%;
  position: relative;
  height: 270px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* ------------------------poster animation---------------------------------- */
.poster-row{
  margin-top:5px ;
  width: 100%;
  height: 100vh;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 30%, #8b05ee 99%);
  display: flex;
  height: 100%;
}

.col-2{
  min-width: 300px;
  flex-basis: 50%;
}
.col-2 img{
  height: 100%;
  width: 100%;
}
.col-2 h1{
  position: relative ;
  color: white;
  font-size: xx-large;
  top: 40%;
  left: 50%;
  transform: translate(-38%,-35%);
  justify-content: center;
}

.col-2 h1 span{
  transition: 0.5s;
  cursor: pointer;

}
.col-2 h1 span:hover{
  color: orange;
}
.col-2 p{
  position: relative ;
  color: white;
  font-size: medium;
  font-family: sans-serif;
  font-weight: 400;
  top: 40%;
  left: 50%;
  transform: translate(-38%,-35%);
  justify-content: center;
}
#explore{
  display: inline-block;
  color: black;
  font-size: larger;
  font-weight: bold;
  margin-top: 40vh;
  margin-left: 18%;
  padding: 8px 30px;
  background-color: rgb(255, 123, 0);
  text-decoration: none;
  border-radius: 30px;
  transition:  0.3s;
}
#explore:hover{
  box-shadow: black 0px 0px 5px;
}
#explore:active{
  background-color: rgb(185, 90, 2) ;
}

@media only screen and (max-width: 530px) {
.col-2 img{
  display: none;
}
.poster-row{
  height: 100vh;
}
}

.asklogin{
  margin-top: 15px;
  display: inline-block;
  width: 100%;
  height: 80px;
  background-color: white;
}
.asklogin h4{
  display: block;
  text-align: center;
  font-weight: 100 !important;
  margin-top: 5px;
}
.asklogin button{
  display: block;
  color: black;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-left: calc(50% - 37.5px);
  height: 35px;
  width: 75px;
  background-color: rgb(255, 123, 0);
  text-decoration: none;
  border-radius: 5px;
  transition:  0.3s;
  margin-top: 5px;
  outline: none;
}
.asklogin button:hover{
  box-shadow: black 0px 0px 5px;
}
.asklogin button:active{
  background-color: rgb(185, 90, 2) ;
}

.team{
  margin-top: 15px;
  width: 100%;
  height: 350px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.teamheading{
  position: absolute;
  margin-top: 20px;
  margin-left: 2rem;
}
.team .imgcard{
  text-align: center;
  width: 20%;
  margin-top: 50px;
  display: inline-block;
}

.imgcard img{
  margin-top: 30px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px black solid;
}
.imgcard img:hover{
  height: 120px;
  width: 120px;
  transition: 0.3s ease;
}
.imgcard h2{
  margin-top: 20px;
}
.imgcard p{
  margin-top: 10px;
}

body{
  background-color: rgb(220, 220, 220);

}

.products{
  display: flex;
  margin-top: 15px;
  width: 95%;
  height: 250px;
  margin-left: 2.5%;
  border-radius: 5px;
  background-color: white;
  max-height: 250px;
  justify-content: center;
  overflow-x: scroll;

}

.title{
  position: absolute;
  margin-left: 3rem;
  font-size: 20px;
  display: block;
  margin-top: 1rem;
  color: rgb(120, 120, 120);
}

.card {
  margin: 25px auto;
  display: inline-block;
  width: 300px;
  height: 200px;
  margin-top: 2.5%;
  text-align: center;
  font-family: arial;
  border-radius: 5px;
}

.card img{
  margin-top: 10px;
  width: auto;
  height: 200px;
}
 .card img:hover{
   transition: 0.3s all ease-in-out;
  height: 210px;
  width: auto;
 }

.flex-products{
  justify-content: space-between;
  display: flex;
  height: inherit;
  width: inherit;
}

