*{
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  user-select: none;
}


 .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 380px;
    width: 320px;
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
    box-shadow: inset 1px 0px 10px black;
  }
  #logoimg{
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    border-radius: 50%;
}
h1.login-title {
  margin: 0px;
  text-align: center;
  font-size: 30px;
  margin-top: 75px;
  letter-spacing: 1px;
  cursor: default;
  text-shadow:1px 1px 2px rgb(120, 50 , 170);
}
  .inp-box {
    margin-top: 8px;
    margin-left: calc(50% - 95px);
    height: 35px;
    width: 190px;
    text-align: start;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    background-color: rgba(0, 0, 0,0.8);
    outline: none;
    padding-inline-start: 10px;
    font-weight: 600;
    transition: 0.2s;
    color: white;    
  }
  ::placeholder{
      color: rgba(255, 245, 238, 0.788);
  }
  .inp-box:hover{
    font-size:15px;
  }
  .visibility {
    user-select: none;
    cursor: pointer;

  }
  .overlap-text {
    position: relative;
  }

  .overlap-text i {
    position: absolute;
    top: calc(50% - 5px);
    right: 20%;
    color: rgba(255, 245, 238, 0.644);
    font-size: 20px;
    text-decoration: none;
  }

  .uname-icon{
    position: absolute;
    left: 11% ;
    top: 8rem;
  }
  .pass-icon{
    position: absolute;
    top: 10.8rem;
    left: 11%;
  }
 
  .submit-btn {
    height: 30px;
    position: relative;
    width: 60px;
    margin-left: calc(50% - 30px);
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(236, 116, 3);
    font-size: medium;
    font-weight: bold;
    margin-top: 2vh;
    transition: 0.2s;
  }
  
  .submit-btn:hover,
  .submit-btn:active {
    background-color: rgb(255, 123, 0);
    box-shadow: rgb(5, 5, 5) 2px 2px 5px;
  }
   
  .register {
    margin-top: 2%;
    text-align: center;
  }
  .register span {
    color: blue;
    cursor: pointer;
    transition: 0.2s;

  }
  
  .register span:hover{
    border-bottom: 1.5px blue solid;

  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0, 0, 0);  
    background-color: rgba(0, 0, 0, 0.5); 
    overflow: hidden;
  }
  

  .modal-content {
    background-color: white;
    padding: 20px;
    width: 320px;
    border: 1px solid #888;
    border-radius: 5px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s;
    transition: 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  @-webkit-keyframes animatetop {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: rotateZ(180deg);
    transition: 0.5s;
  }
  
  .reg-inp-box {
    margin-top: 8px;
    height: 35px;
    width: 230px;
    text-align: start;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    background-color: rgba(0, 0, 0,0.8);
    outline: none;
    padding-inline-start: 10px;
    font-weight: 600;
    user-select: none;
    margin-left: 15%;
    transition:0.2s;
    color: white;
  }
  .reg-inp-box:hover{
    font-size:15px;
  }
  #reg-show-pass-btn{
      top: 16px;
      right: 56px;
  }
  .reg-submit-btn {
    height: 30px;
    width: 60px;
    margin-left: calc(50% - 30px);
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(236, 116, 3);
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.2s;
  }
  .reg-submit-btn:hover,
  .reg-submit-btn:active {
    background-color: rgb(255, 123, 0);
    box-shadow: rgb(5, 5, 5) 2px 2px 5px;
  }
  
  .reg-title {
    margin: 0px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: default;
    text-shadow:1px 1px 2px rgb(120, 50 , 170);-left: 30%;
  }

#mainclosebtn{
    position: absolute;
    border-radius: 50%;
    font-size: xx-large;
    cursor: pointer;
    right: 1%;
    top: 1%;
    z-index: 9999;
    background-color: whitesmoke;
}
#mainclosebtn:hover,#mainclosebtn:focus{
    transition: 0.5s;
    transform: rotateZ(180deg);
}



@media screen and (max-width: 648px) {

    
    .register {
      margin-left: -20px;
    }
    .modal-content {
      width: 80%;
      margin: 38% auto;
    }
    .reg-inp-box {
      width: 75%;
    }
    
  }

  @media (min-width: 648px) {
 
   .reg-inp-box{
    width: 80%;
    margin-left: 10%;
  }
}


.login{
  position: absolute;
  width: 100%;
  height: 100vh;
}
/*--------------------------background animation------------------------------------- */
.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  z-index: -1;
  position: absolute;
  animation: backcolorchange 25s linear infinite;

}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

@keyframes backcolorchange{
  0%{
    background-color: purple; 

  }
  25%{
    background-color: #525be4; 

  }
  50%{
    background-color: #68a9e6; 

  }
  75%{
    background-color: #f76d68; 

  }
  100%{
      background-color: purple; 

  }
}