/*------------------------------------------------------------------
    File Name: responsive.css
-------------------------------------------------------------------*/

@media (min-width: 992px) {
	#navbar_menu ul ul {
		background: #ddd;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.container {
       width: 980px;
       max-width: 980px;
    }
	body {
		overflow-x: hidden;
	}
   .product_list {
      min-height: auto;
      transition: ease all 0.5s;
      padding-bottom: 25px;
  }
	
}


@media (min-width: 768px) and (max-width: 991px) {
	img {
		max-width: 100%;
	}
	body {
		overflow-x: hidden;
	}
	.container {
		width: 750px;
		max-width: 750px;
		}
	.product_detail_btm {
       padding: 15px 0 25px;
    }
	.view_commant div.full img {
       width: 100%;
    }
	.product_detail_btm h4 {
    margin: 20px 0 10px 0;
    text-align: center;
    font-size: 15px;
   }
   .product_list {
    min-height: auto;
}


/** product detail page **/

.product_detail_feature_img .hizoom {
    width: 100% !important;
}

.product_detail_feature_img {
    width: 100% !important;
}

.product-heading h2 {
    font-size: 24px;
    padding-bottom: 15px;
    margin: 35px 0 0;
}

/** shop page **/
	
	
	.product-table table.table {
        min-width: 720px;
    }
	
	.product_detail_page .tab_bar_section .nav.nav-tabs {
        display: flex;
        justify-content: center;
    }
	
	.product_detail_page .tab_bar_section .nav-tabs .nav-item {
        width: 100%;
    }

}



@media (min-width:575px) and (max-width:767px) {

.product_list {
    min-height: auto;
    padding-bottom: 30px;
}

}

@media (max-width:574px) {

.product_list {
    min-height: auto;
    padding-bottom: 30px;
	transition: ease all 0.5s;
}

}